<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <membership defaultProvider="CustomMembershipProvider">
      <providers>
        <clear/>
        <add name="CustomMembershipProvider"
             type="EED.Service.Membership_Provider.CustomMembershipProvider,EED.Service"/>
      </providers>
    </membership>
  </system.web>
</configuration>