@model EED.Domain.User

@{
    if(Model.Id.Equals(0))
    {
        ViewBag.Title = "Add New User";
    }
    else
    {
        ViewBag.Title = "Edit";
    }
}

<hgroup class="title">
    @if (Model.Id.Equals(0))
    {
        <h1>Add New User</h1>
    }
    else
    {
        <h1>Edit @Model.Name</h1>
    }
</hgroup>

@using (Html.BeginForm("Edit", "User")) {
    @Html.EditorForModel()
    <input type="submit" value="Save" />
    @Html.ActionLink("Cancel and Return to Users List", "Users")
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
